@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
table {
  margin-top: 20px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.edit > i {
  color: #d9cd26;
}

.delete > i {
  color: #e35e6b;
}

.heart:hover {
  cursor: pointer;
  /* background-color: green; */
  transform-origin: center;
  transform: scale(1.05);
  transition: all 0.1s ease-in;
  display: block;
}
.red {
  color: red;
}
